{% extends "users/home.html" %}

{% block base_content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>

<a href="{% url 'mailings:mailings_list' %}">К списку сообщений</a>

{% if object.owner == request.user %}
    | <a href="{% url 'mailings:mailings_edit' object.pk %}">Редактировать</a>
    | <a href="{% url 'mailings:mailings_delete' object.pk %}">Удалить</a>
    | <a href="{% url 'mailings:start_mailing' object.pk %}">Запустить рассылку</a>

    {% if perms.mailings.can_disable_mailing %}
        | <a href="{% url 'mailings:disable_mailing' object.pk %}">Отключить рассылку</a>
    {% endif %}
{% endif %}

{% endblock %}